<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--  mybatis 활동 방식 설정 -->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- mybatis에서 사용할 자바클래스의 별칭을 설정 -->
	<typeAliases>
		<typeAlias alias="mVO" type="kr.cnu.baseball.vo.MemberVO"/>
		<typeAlias alias="nVO" type="kr.cnu.baseball.vo.newsVO"/>
		<typeAlias alias="bVO" type="kr.cnu.baseball.vo.BoardVO"/>
		<typeAlias alias="page" type="kr.cnu.baseball.util.PageUtil"/>
	</typeAliases>
	
	<!-- 질의명령 매핑 -->
	<mappers>
		<mapper resource="kr/cnu/baseball/sql/MemberSQL.xml"/>
		<mapper resource="kr/cnu/baseball/sql/newsSQL.xml"/>
		<mapper resource="kr/cnu/baseball/sql/BoardSQL.xml"/>
	</mappers>
	
</configuration>